spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/heartbeat_db}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: Asia/Ho_Chi_Minh
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB
      file-size-threshold: 2KB
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8

jwt:
  signerKey: ${JWT_SIGNER_KEY}
  valid-duration: 3600
  refreshable-duration: 36000

google:
  cloud:
    enabled: ${GOOGLE_CLOUD_ENABLED:true}
    bucket-name: ${GOOGLE_BUCKET_NAME:cloudstorage-04}
    credential-path: ${GOOGLE_CREDENTIAL_PATH:./gg_cloud_storage4.json}
    credentials-json: ${GOOGLE_CLOUD_CREDENTIALS_JSON:}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173,http://localhost:3000}

